// States
.is-disabled {}
.is-active {}
.is-selected {}

// *More* semantic clearfix
.group {
    @extend %clearfix;
}

// Spacing
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.mr10 { margin-right: 10px; }
.ml10 { margin-left: 10px; }

.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
.mr20 { margin-right: 20px; }
.ml20 { margin-left: 20px; }

.mt50 { margin-top: 50px; }
.mb50 { margin-bottom: 50px; }
.mr50 { margin-right: 50px; }
.ml50 { margin-left: 50px; }

.pt10 { padding-top: 10px; }
.pb10 { padding-bottop: 10px; }
.pr10 { padding-right: 10px; }
.pl10 { padding-left: 10px; }

.pt20 { padding-top: 20px; }
.pb20 { padding-bottop: 20px; }
.pr20 { padding-right: 20px; }
.pl20 { padding-left: 20px; }

// Accessibility
.sronly {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

// Prompt to update older browser (<IE8)
.browsehappy {
    margin: 0;
    padding: 1em 0;
    background: #f3f3f3;
    color: #222;
    text-align: center;
}