// ====================================/
//  Variables
// ====================================/

// Primary Colors
$black: #000;
$white: #fff;

// Secondary Colors
$charcoal: #202020;

// Site colors
$primary-color: $black;
$secondary-color: $white;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($primary-color, 10%);
$link-color-active: darken($primary-color, 10%);

// Type
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;

$font-sans-serif-normal: 400;
$font-sans-serif-semibold: 600;
$font-sans-serif-bold: 700;
$font-serif-bold: 700;

// Spacing
$pad: 3%; // must be % if using grid function
$pad-x: 10px;
$pad-y: 50px;

// Media Queries
$bp-small-max:   30em;      // 480px
$bp-medium-min:  30.0625em; // 481px
$bp-medium-max:  48em;      // 768px
$bp-marge-min:   48.0625em; // 769px
$bp-marge-max:   64em;      // 1024px
$bp-large-min:   64.0625em; // 1025px
$bp-large-max:   98em;      // 1568px
$bp-x-large-min: 98.0625em; // 1569px
