*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: $color-secondary;
    color: #222;
    font-family: $font-serif;
    @include font-size(16);
    line-height: 1.5;
    font-feature-settings: "kern";
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    border-bottom: 1px solid;
    color: $link-color;
    text-decoration: none;
}
