.container {
    max-width: 960px;
    width: 88%;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.main {
    @extend %clearfix;
    width: 100%;
    padding: $pad-y/2 0;
}

.content {
    float: left;
    width: 60%;
}

.sidebar {
    float: right;
    width: 30%;
}

.footer {
    width: 100%;
    padding: $pad-y/2 0;
    text-align: center;
}
