// FOUT (Flash Of Unstyled Text)
// -----------------------------
@mixin fout {
    .wf-loading &,
    .wf-inactive & {
        visibility:hidden;
    }
    .wf-active & {
        visibility:visible;
    }
}

@mixin font-stack-body {
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    @include fout;
}
@mixin font-stack-headings {
    font-family: $sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.2;
    @include fout;
}

// Font Size (px fallback with rem value)
// (must set font-size on html to 62.5%)
// --------------------------------------
@mixin font-size($size) {
    font-size: 0px + $size;
    font-size: 0rem + $size / $base-font-size;
}