*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: $secondary-color;
    color: #222;
    font-family: $serif;
    @include font-size(16);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    border-bottom: 1px solid;
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}