.nav {
    @extend %clearfix;
    text-align: center;
}

.nav-item {
    position: relative;
    float: left;
    width: 25%;

    > a {
        display: block;
        padding: 2em 0;
        border: 0;
        font-family: $font-sans-serif;
        font-weight: $font-sans-serif-semibold;
        text-transform: uppercase;
    }
}

.nav-secondary {
    position: absolute;
    display: none;
    background: red;
}

.nav-secondary-item {
    color: red;
}

:hover > .nav-secondary {
    display: block;
}
